* {
    box-sizing: border-box;
  }


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

h1 {
    margin-bottom: 50px;
}

.kind {
    margin-right: 40px;
}

.kind1{
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
}

.kind2{
    font-size: 18px;
    font-weight: bold;
    margin-top: 70px;
}

.kind3{
    font-size: 18px;
    font-weight: bold;
    margin-top: 34px;
}


.container_box{
    display: flex;
}


.container{
    display: flex;
    flex-direction: column; 
    align-items: center;
}


a{
     text-decoration:none;
     color: #333333;
     font-weight: bold;
     display: flex;
     flex-direction: column;
     align-items: center;
     
    }
span {
    margin-top: 10px;
}

    

img{
    width: 100px;
    height: 100px;
    }


img:hover{
    transform: scale(1.3);
}

#value1{
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
}

#value2{
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
}

input {
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    font-weight: bold;
}

input :hover {
    background-color: antiquewhite;
}

button {
    position: relative;
    left: 400px;
    margin-top: 50px;
    width: 100px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}